.calendar table {
  height: 100%;
}

.calendar td {
  border-bottom: solid 1px rgb(212, 212, 212);
}

.other {
  opacity: 0.6;
}

.numMoney {
  position: absolute;
  bottom: 5px;
  font-size: 12px;
}

.markMoney {
  position: absolute;
  bottom: 5px;
  font-size: 12px;
  display: flex;
}

.green {
  color: #28c131;
}

.red {
  color: #fc4645;
}

.blue {
  color: #fcaf25;
}

.moneyInfoBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 16px gray;
}

.moneyInfoBox ul {
  margin: 10px 0;
}

.dateInfo {
  display: flex;
}

.moneyList,
.fixedList {
  height: 6em;
  line-height: 1.5em;
  color: gray;
  overflow: auto;
}

.dateMoney {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

.active {
  display: block;
}