.calendar table {
  height: 100%;
}

.calendar td {
  border-bottom: solid 1px rgb(212, 212, 212);
}

.other {
  opacity: 0.6;
}

.money {
  position: absolute;
  bottom: 5px;
  font-size: 12px;
}

.green {
  color: rgb(0, 182, 24);
}

.red {
  color: red;
}

.blue {
  color: rgb(78, 125, 255);
}

.moneyInfoBox {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: fit-content;
  padding: 10px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 16px gray;
}

.moneyInfoBox ul {
  margin: 10px 0;
}

.dateInfo {
  display: flex;
}

.moneyList,
.fixedList {
  height: 7em;
  line-height: 1.5em;
  color: gray;
  overflow: auto;
}

.dateMoney {
  margin-left: 25%;
  font-size: 2em;
}

.active {
  display: block;
}