.inputList {
  position: relative;
  font-size: 20px;
  padding: 10px;
  margin-top: 25px;
  line-height: 2em;
}

.inputList input,
.inputList select {
  padding: 0 1em;
}

.unit {
  position: absolute;
  right: calc(10px + 1em);
}

.placeholder {
  color: gray;
  padding-left: 1em;
}

.inputTab,
.inputBtnList {
  display: flex;
  justify-content: space-around;
}

.inputBtnList {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.inputTab li {
  width: 100%;
}

.headerMenu .inputSelect {
  background-color: rgb(234, 241, 241);
  color: rgb(54, 54, 54);
  text-shadow: 0 5px 3px #7e7e7e;
}

.input button {
  width: 100%;
}

.errorMessage {
  color: red;
  text-align: center;
}