.inputKey {
  height: calc(100% - 300px);
}

.inputKey td {
  height: 50px;
}

.inputList {
  position: relative;
  font-size: 20px;
  height: 200px;
  padding: 10px;
  line-height: 2em;
}

.inputList input {
  width: 100%;
  padding: 0 1em;
  border-bottom: solid 1px gray;
  margin-bottom: 10px;
}

.inputList span{
  position: absolute;
  right: calc(10px + 1em);
}

.inputTab {
  display: flex;
  justify-content: space-around;
}

.inputTab li {
  width: 100%;
}

.headerMenu .inputSelect {
  background-color: rgb(234, 241, 241);
  color: rgb(54, 54, 54);
  text-shadow: 0 5px 3px #7e7e7e;
}

.input button {
  width: 100%;
}

.errorMessage {
  color: red;
  text-align: center;
}